body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size:50px;
}
#sabbir{
    color:orange;
}
section{
    display:flex;
}
.half-width{
    width:50%;
    padding-left:5%;
}
.half-width img{
    width:87%;
}